.profile-container {
  position: relative;
  margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  width: 58%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: block;
}

.profile-container h2 {
  color: black;
}

.email-label {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-details-container {
  display: flex;
  justify-content: space-between;
}

.password-change,
.telephone-change,
.adresse-change {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.password-change:last-child {
  margin-right: 0;
}

.password-input,
.telephone-input,
.adresse-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-change-btn,
.telephone-change-btn,
.adresse-change-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1d5f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-change {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.logout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}